<%= form_with model: Post.new do |f| %>
    <div class="input-group pb-3">
        <%= f.text_field :body, class: "form-control", placeholder: "今なにしてる？" %>
        <span class="input-group-btn">
            <%= f.submit "投稿", class: "btn btn-primary" %>
        </span>
    </div>
<% end %>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <%= image_tag current_user.avatar.url, class: "card-img-top rounded" %>
            <div class="card-body">
                <h4 class="card-title"><%= @user.name %></h4>
                <div class="card-text">
                    <p class="text-secondary"><%= @user.created_month %>に登録</p>
                    <p class="text-secondary"><%= @user.posts_count %> posts</p>
                </div>
            </div>
        </div>
    </div>               
    <div class="col-md-9">
        <%= render partial: "post", collection: @posts %>
        <%= paginate @posts %>
    </div>
</div>

